:root {
    --app-container: #f3f6fd;
    --main-color: #1f1c2e;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --color-yellow: #ffcc00;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
}


.alert_box,
.show_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.alert_box {
    padding: 30px;
    display: flex;
    background: var(--projects-section);
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 450px;
    width: 90%;
    border-radius: 5px;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.97);
    transition: all 0.3s ease;
}

/* faz ela aparecer */
#check_calma:checked~.alert_box,
#check_error:checked~.alert_box,
#check_confirm:checked~.alert_box,
#check:checked~.alert_box {
    opacity: 1;
    pointer-events: auto;
}

#check_calma:checked~.background,
#check_error:checked~.background,
#check_confirm:checked~.background,
#check:checked~.background {
    opacity: 1;
    pointer-events: auto;
}

#check_calma,
#check_error,
#check_confirm,
#check {
    display: none;
}

.alert_box .icon span {
    height: 100px;
    width: 100px;
    color: #f23b26;
    border: 3px solid #f23b26;
    border-radius: 50%;
    line-height: 97px;
    font-size: 50px;
}

.alert_box header {
    font-size: 35px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--link-color);
}

.alert_box p {
    font-size: 20px;
    color: var(--link-color);
}

.alert_box .btns {
    margin-top: 20px;
}

.btns label {
    display: inline-flex;
    height: 55px;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    line-height: 55px;
    outline: none;
    margin: 0 10px;
    border: none;
    color: var(--link-color);
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btns .confirm {
    background: var(--color-yellow);
}

.btns .confirm:hover {
    background: #ffcc0085;
}

.btns .cancel {
    background: #f23b26;
}

.btns .cancel:hover {
    background: #d9210d;
}


/* toast */
.toast {
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: var(--projects-section);
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-left: 6px solid var(--color-yellow);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
    transform: translateX(0%);
}

.toast .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: red;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 20px;
    font-weight: 400;
    color: var(--main-color);
}

.message .text.text-1 {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--link-color);
}

.message .text.text-2 {
    font-weight: 300;
    font-size: 18px;
    color: var(--link-color);
}

.toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    color: var(--link-color);
    opacity: 0.7;
}

.toast .close:hover {
    opacity: 1;
}

.toast .progress_green,
.toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--button-bg);
}

.toast .progress:before  {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-yellow);
}

.toast .progress_green:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(46, 204, 113, 1);
}

.progress_green.active:before,
.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}