:root {
    --app-container: #f3f6fd;
    --main-color: #1f1c2e;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --color-yellow: #ffcc00;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
}


/* lista de usuarios */
.list {
    width: 100%;
}

.settings {

    width: 2.5rem;
    height: 2.5rem;
    color: var(--link-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s;
}

.settings:hover {

    color: var(--color-yellow);
}

table {
    width: 100%;
}

table td {
    color: var(--link-color);
    padding: 10px;
}

table td {
    text-align: center;
    vertical-align: middle;
}

table td:last-child {
    font-size: 0.95em;
    line-height: 1.4;
    text-align: left;
}

.tr {
    border: 1px solid var(--color-yellow);
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem 0;
}

table tr:nth-child(2n) {
    background-color: var(--projects-section);
}

table tr:nth-child(2n+1) {
    background-color: var(--app-container);
}

@media screen and (max-width: 800px) {

    table,
    tr,
    td {
        display: grid;
        padding: 10px;
    }

    tr {
        padding: 10px 0;
        position: relative;
    }
}

@media screen and (max-width: 500px) {

    td:first-child {
        background-color: var(--projects-section);
        border-bottom: 1px solid var(--app-container);
        border-radius: 10px 10px 0 0;
        position: relative;
        top: 0;
        transform: translateY(0);
        width: 100%;
    }

    td:not(:first-child) {
        margin: 0;
        padding: 5px 1em;
        width: 100%;
    }

    td:not(:first-child):before {
        font-size: 0.8em;
        padding-top: 0.3em;
        position: relative;
    }

    td:last-child {
        padding-bottom: 1rem !important;
    }

    tr {
        background-color: var(--projects-section) !important;
        border: 1px solid var(--color-yellow);
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
        padding: 0;
    }
}

/* apresentação computadores */




.leaderboard__profiles {
    background-color: var(--projects-section);
    border-radius: 0 0 12px 12px;
    padding: 10px 10px 150px;
    display: grid;
    row-gap: 15px;
}

.leaderboard__profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 30px 10px 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.leaderboard__name {
    color: #979cb0;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.64px;
    margin-left: 12px;
}

.leaderboard__success {
    color: #35d8ac;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

.leaderboard__fail {
    color: #d83535;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

.generatorPDF {

    text-transform: uppercase;
    font-size: 15px !important;
    cursor: pointer;
    transition: 0.9s all;
}

.generatorPDF:hover{

    color: var(--color-yellow);
}

@media screen and (max-width: 500px) {

    .profile {
        display: none;
    }

    .phone {
        display: none;
    }
}